In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [12]:
brics = pd.read_excel(r"E:\Jupyter Notebook\DataCamp's Data Analyst with Python Track\02_intermediate_python\dataset/Brics.xlsx")
car = pd.read_excel(r"E:\Jupyter Notebook\DataCamp's Data Analyst with Python Track\02_intermediate_python\dataset\Cars.xlsx")
gap = pd.read_excel(r"E:\Jupyter Notebook\DataCamp's Data Analyst with Python Track\02_intermediate_python\dataset/Gapminder.xlsx")
print(brics.head())
print(car.head())
print(gap.head())

  Unnamed: 0       country    capital    area  population
0         BR        Brazil   Brasilia   8.516      200.40
1         RU        Russia     Moscow  17.100      143.50
2         IN         India  New Delhi   3.286     1252.00
3         CH         China    Beijing   9.597     1357.00
4         SA  South Africa   Pretoria   1.221       52.98
  Unnamed: 0  cars_per_cap        country  drives_right
0         US           809  United States          True
1        AUS           731      Australia         False
2        JAP           588          Japan         False
3         IN            18          India         False
4         RU           200         Russia          True
   Unnamed: 0      country  year  population      cont  life_exp       gdp_cap
0          11  Afghanistan  2007    31889923      Asia    43.828    974.580338
1          23      Albania  2007     3600523    Europe    76.423   5937.029526
2          35      Algeria  2007    33333216    Africa    72.301   6223.367465
3          47       Angola  2007    12420476    Africa    42.731   4797.231267
4          59    Argentina  2007    40301927  Americas    75.320  12779.379640

In [13]:
brics.columns

Index(['Unnamed: 0', 'country', 'capital', 'area', 'population'], dtype='object')

In [15]:
brics.sort_values("country", ascending = False)

  Unnamed: 0       country    capital    area  population
4         SA  South Africa   Pretoria   1.221       52.98
1         RU        Russia     Moscow  17.100      143.50
2         IN         India  New Delhi   3.286     1252.00
3         CH         China    Beijing   9.597     1357.00
0         BR        Brazil   Brasilia   8.516      200.40

In [22]:
brics[brics["area"] > 1]

  Unnamed: 0       country    capital    area  population
0         BR        Brazil   Brasilia   8.516      200.40
1         RU        Russia     Moscow  17.100      143.50
2         IN         India  New Delhi   3.286     1252.00
3         CH         China    Beijing   9.597     1357.00
4         SA  South Africa   Pretoria   1.221       52.98

In [26]:
brics[brics["capital"].isin(["New Delhi"])]

  Unnamed: 0 country    capital   area  population
2         IN   India  New Delhi  3.286      1252.0