Welcome to the course

In [ ]:
#Welcome to the course

#Latihan 1
-- Try running me!
SELECT 'DataCamp <3 SQL'
AS result;

In [ ]:
#Latihan 2
SELECT 'SQL is cool'
AS result;

In [ ]:
#Latihan 3
SELECT title 
FROM films;

In [ ]:
SELECT release_year
FROM films

In [ ]:
SELECT name
FROM people

In [ ]:
#Latihan 4
SELECT title
FROM films;

SELECT title, release_year
FROM films;

In [ ]:
SELECT title, release_year
FROM films;

SELECT title, release_year, country
FROM films;

In [ ]:
SELECT title, release_year, country
FROM films;

SELECT *
FROM films;

In [ ]:
#Latihan 5
SELECT DISTINCT country
FROM films;

In [ ]:
SELECT DISTINCT certification
FROM films;

In [ ]:
SELECT DISTINCT role
FROM roles

In [ ]:
#Latihan 6
SELECT COUNT (*)
FROM people

In [ ]:
SELECT COUNT(*)
FROM people;

SELECT COUNT(birthdate)
FROM people;

In [ ]:
SELECT COUNT(DISTINCT birthdate)
FROM people;

In [ ]:
SELECT COUNT(DISTINCT language)
FROM films;

In [ ]:
SELECT COUNT(DISTINCT country)
FROM films;